.createbutton {
  padding: 0.5rem;
  margin: 1rem 0rem;
  background: #3cab8a;
  color: white;
  border: solid 1px #dbdbdb;
  border-radius: 5px;
}

.editbutton {
  padding: 0;
  margin: 0;
  background: white;
  border: none;
  color: #585754;
}

.toggleDropDown {
  background: #4286df!important;
  border:none;
}

.start {
  padding: 0;
  margin: 0;
  background: white;
  border: none;
  color: #1c6e1a;
}

.takeout {
  padding: 0;
  margin: 0;
  background: white;
  color: #97200b;
  border: none;
}

.running {
  padding: 0;
  margin: 0;
  background: white;
  color: #bb9631;
  border: none;
}

.logoutLink {
  padding: 0;
  margin: 0rem 1rem;
  background: none;
  color: white;
  border: none;
  text-decoration: underline;
}

.page {
  padding: 1rem;
}

.flexwrapper {
  display: flex;
  gap: 10px;
  column-gap: 3rem;
}

.expand {
  width:30%;
}

.machinewrapper {
  border: solid 1px #dbdbdb;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.machinewrapper h2 {
  font-size: 1.5em;
}

.machinewrapper p {
  font-weight: bold;
}

.machinewrapper span {
  font-weight: normal;
} 

.full input {
  width: 100%;
}